.menu {
  width: 72%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

.menuContainer {
  max-width: 1200px;
  margin: 0 auto;
}

.menuContainerTopContainerText {
  font-size: 32px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 20px;
}

.menuCategorySelector {
  display: flex;
  justify-content: center;
  gap: 10px;
  /* margin-bottom: 30px; */
}

.menuCategoryButton {
  /* padding: 10px 20px; */
  font-size: 16px;
  font-weight: 600;
  /* border: 1px solid #ccc; */
  /* background-color: #f9f9f9; */
  cursor: pointer;
  width: 120px;
  /* height: 40px; */
  gap: 10px;
  /* border: 1px solid #000; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* transition: background-color 0.3s, color 0.3s; */
  color: #7a7979;
  /* padding-left: 5px; */
  /* padding-right: 5px; */
  /* margin-left: 10px; */
  /* margin-right: 50px; */
  /* width: 120%; */
  /* left: 20px; */
  /* right: 20px; */
  /* width: 100px; */
}

/* .menuCategoryButton:hover {
  background-color: #e0e0e0;
} */

.menuCategoryButton.active {
  /* background-color: #000; */
  color: #000000;
  /* border-color: #000; */
}

.menuProductDivider {
  border: none;
  border-top: 1px solid lightgray;
  margin: 10px 0;
  padding: 10px;
  width: 200%;
}

.menuContainerMiddleContainerDiv {
  margin-top: 80px;
}

.menuContainerMiddleContainerDivTitle {
  color: #000000;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

/* .menuContainerMiddleContainerDivProducts {
    margin-top: 50px;
} */

.menuContainerMiddleContainerDivProducts {
  margin-top: 15px;
}

.menuContainerMiddleContainerDivProductsList {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 10px;
}

.menuContainerMiddleContainerDivProductsListLeftContainerTextOne {
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  letter-spacing: 0.5px;
}

.menuContainerMiddleContainerDivProductsListLeftContainerTextTwo {
  color: #7a7979;
  margin-top: 10px;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.menuContainerMiddleContainerDivProductsListLeftContainerTextThree {
  color: #000000;
  margin-top: 10px;
  font-weight: 500;
}

.menuContainerTopLine {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.menuContainerTopLineHr {
  width: 100%;
}

.menuContainerTopLineHrDiv {
  width: 100%;
  height: 2px;
  background-color: #d3d3d3;
}

.menuContainerSelectorHr {
  width: 100%;
  height: 3px;
  background-color: transparent;
}

.menuContainerSelectorHr.active {
  background-color: #fd9ca4;
}
