.navbar {
  width: 100%;
  position: absolute;
  /* top: 0; */
  /* left: 0; */
  z-index: 1000;
  background-color: transparent;
  /* background-color: red; */
}

.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 36px;
  padding: 20px;
}

.navbarContainerLeft {
  width: 100%;
  height: 100%;
}

.navbarContainerLeftContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 20px;
}

.navbarContainerRight {
  width: 100%;
}

.navbarContainerRightContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
}

.navbarContainerRightContainerEle,
.navbarContainerLeftContainerEle {
  display: flex;
  flex-direction: column;
}

.navbarContainerMiddleContainerImage {
  width: 185px;
  height: auto;
  cursor: pointer;
}

.navbarContainerLeftContainerNavbar,
.navbarContainerRightContainerNavbar {
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  position: relative;
}

.navbarContainerLeftContainerNavbarContainer {
  cursor: pointer;
}

.navbarContainerLeftContainerNavbarContainerText,
.navbarContainerRightContainerNavbarContainerText {
  font-size: 14px;
  color: #eddfe0;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  cursor: pointer;
}

.navbarContainerLeftContainerNavbar:hover,
.navbarContainerRightContainerNavbar:hover,
.navbarContainerLeftContainerEle:hover,
.navbarContainerRightContainerEle:hover {
  cursor: pointer;
}

.navbarContainerLeftContainerNavbar:hover,
.navbarContainerRightContainerNavbar:hover {
  cursor: pointer;
}

.navbarContainerRightContainerEle:hover .navbarContainerLeftContainerNavbarContainerText,
.navbarContainerRightContainerNavbar:hover .navbarContainerRightContainerNavbarContainerText {
  color: #fff;
}

.navbarContainerLeftContainerNavbar:hover
  .navbarContainerLeftContainerNavbarContainerText,
.navbarContainerRightContainerNavbar:hover
  .navbarContainerRightContainerNavbarContainerText {
  color: #fff;
  cursor: pointer;
}

.navbarContainerRightContainerEleDropdownMenu,
.navbarContainerRightContainerEleDropdownMenuOne {
  position: absolute;
  background: linear-gradient(to bottom, transparent 42px, #000 16px);
  padding-top: 16px;
  padding-bottom: 16px;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transform: scaleY(0);
  transform-origin: top;
  transition: transform 0.3s ease, opacity 0.3s ease, visibility 0.3s ease;
}

.navbarContainerRightContainerEleDropdownMenuContainerOne {
  margin-top: 44px;
}

.navbarContainerRightContainerEleDropdownMenuContainerNavLink,
.navbarContainerRightContainerEleDropdownMenuContainerNavLinkOne {
  text-decoration: none;
}

.navbarContainerRightContainerEleDropdownMenuContainerNavLinkContainerText,
.navbarContainerRightContainerEleDropdownMenuContainerNavLinkContainerTextOne {
  font-size: 14px;
  color: #B3B3B3;
  font-weight: 700;
  transition: color 0.3s ease 0.2s;
  text-transform: uppercase;
  padding-top: 7px;
  padding-left: 21px;
  padding-bottom: 7px;
  padding-right: 21px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}


.navbarContainerRightContainerNavbar:hover
  + .navbarContainerRightContainerEleDropdownMenu,
.navbarContainerRightContainerEleDropdownMenu:hover,
.navbarContainerLeftContainerNavbar:hover
  + .navbarContainerRightContainerEleDropdownMenuOne,
.navbarContainerRightContainerEleDropdownMenuOne:hover {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: scaleY(1);
}

.navbarContainerRightContainerNavbar:hover
  + .navbarContainerRightContainerEleDropdownMenuContainerNavLinkContainerText,
.navbarContainerRightContainerEleDropdownMenu:hover
  .navbarContainerRightContainerEleDropdownMenuContainerNavLinkContainerText,
.navbarContainerLeftContainerNavbar:hover
  + .navbarContainerRightContainerEleDropdownMenuContainerNavLinkContainerTextOne,
.navbarContainerRightContainerEleDropdownMenuOne:hover
  .navbarContainerRightContainerEleDropdownMenuContainerNavLinkContainerTextOne {
  color: #b3b3b3;
}

.navbarContainerLeftContainerEle:hover .navbarContainerLeftContainerNavbarContainerText,
.navbarContainerRightContainerEle:hover .navbarContainerRightContainerNavbarContainerText,
.navbarContainerLeftContainerNavbar:hover .navbarContainerLeftContainerNavbarContainerText,
.navbarContainerRightContainerNavbar:hover .navbarContainerRightContainerNavbarContainerText {
  color: #fff; 
}

.navbarContainerRightContainerEleDropdownMenuContainerNavLinkContainerOne:hover .navbarContainerRightContainerEleDropdownMenuContainerNavLinkContainerTextOne {
  color: #fff;
}