.navbar {
  width: 100%;
  background-color: lightgray;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
  /* padding-bottom: 30px; */
}

.navbarContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.navbarContainerLeft {
  width: 100%;
  height: 100%;
}

.navbarContainerLeftContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbarContainerRight {
  width: 100%;
}

.navbarContainerRightContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navbarContainerRightContainerEle {
  display: flex;
  flex-direction: column;
}

.navbarContainerMiddleContainerImage {
  width: 185px;
  height: auto;
  cursor: pointer;
}

.navbarContainerLeftContainerNavbar,
.navbarContainerRightContainerNavbar {
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  position: relative;
}

.navbarContainerLeftContainerNavbarContainerText,
.navbarContainerRightContainerNavbarContainerText {
  font-size: 14px;
  color: #eddfe0;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
}

.navbarContainerLeftContainerNavbar:hover
  .navbarContainerLeftContainerNavbarContainerText,
.navbarContainerRightContainerNavbar:hover
  .navbarContainerRightContainerNavbarContainerText {
  color: #fff;
}

.navbarContainerRightContainerEleDropdownMenu {
  position: absolute;
  background-color: #000;
  /* width: 200px; */
  /* height: 100px; */
  /* margin-top: 100px; */
  padding-top: 30px;
  padding-top: 16px;
  padding-bottom: 16px;
  margin-top: 35px;
  visibility: 0;
  display: none;
}

.navbarContainerRightContainerEleDropdownMenuContainerNavLink {
  text-decoration: none;
}

.navbarContainerRightContainerEleDropdownMenuContainerNavLinkContainerText {
  font-size: 14px;
  color: #eddfe0;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  padding-top: 7px;
  padding-left: 21px;
  padding-bottom: 7px;
  padding-right: 21px;
}

.navbarContainerRightContainerEleDropdownMenuContainerNavLink:hover
  .navbarContainerRightContainerEleDropdownMenuContainerNavLinkContainerText {
  color: #fff;
}

.navbarContainerRightContainerNavbar:hover
  .navbarContainerRightContainerEleDropdownMenu {
  display: block;
  visibility: 100;
  position: absolute;
}
