.homeOwner {
    display: flex;
    width: 100%;
    height: auto;
    position: relative;
    margin-top: 50px;
}

.homeOwnerContainer {
    width: 100%;
    height: 500px;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.homeOwnerContainerImage {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 500px;
}

.homeOwnerContainerImageContainer {
    position: relative;
    width: 100%;
    height: 100%;
}

.homeOwnerContainerImageOverlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
    pointer-events: none;
}

.homeOwnerContainerImageContainerImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    z-index: 0;
}

.homeOwnerContainerText {
    position: absolute; 
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 2; 
    color: #FFFFFF; 
    width: 80%;
}

.homeOwnerContainerTextContainerTitleContainerTextOne,
.homeOwnerContainerTextContainerTitleContainerTextTwo {
    color: #FFFFFF;
    font-size: 66px;
    font-weight: 700;
    line-height: 79px;
    letter-spacing: 0px;
    text-transform: uppercase;
}

.homeOwnerContainerTextContainerTitleContainerTextTwo {
    margin-top: 10px;
}

.homeOwnerContainerTextContainerSubtitle {
    margin-top: 40px;
}

.homeOwnerContainerTextContainerSubtitleContainerText {
    color: #EEEEEE;
    font-size: 16px;
    font-weight: 600;
    margin-top: 20px;
    line-height: 26px;
}